

## **Home Credit Default Risk**
### **Exploratory Data Analysis Notebook**
#### Author: Matthew Johnescu

Table of Contents:
1. [Introduction](#introduction)
2. [Notebook Imports](#notebook-imports)
3. [Description of Data](#description-of-data)

## Introduction

#### **Business Problem**

Home Credit faces challenges in accurately predicting loan repayment ability for individuals with limited or no traditional credit history. Many underserved individuals are either rejected or subject to predatory lenders. Home Credit aims to improve its predictive models by leveraging alternative data such as telco and transactional information. 

#### **Notebook Purpose** 

The purpose of this notebook is to gain an understanding of the dataset and prepare the data set for a predictive model. This will include exploring all data availiable for the project, handling and describing missing data, exploratory analysis of the data, and a summary of findings.

## Notebook Imports

In [2]:
import os
import pandas as pd
import numpy as np

# Skimpy ?? package (like skimr r package)

## Description of Data

In [9]:
# Step 1: Specify the folder path
folder_path = r"C:\Users\johne\Downloads\home-credit-default-risk"

# Step 2: List and filter CSV files
files = os.listdir(folder_path)
csv_files = [file for file in files if file.endswith('.csv')]

# Step 3: Display the available CSV files
print("Available CSV files:")
for file in csv_files:
    print(file)

Available CSV files:
application_test.csv
application_train.csv
bureau.csv
bureau_balance.csv
credit_card_balance.csv
installments_payments.csv
POS_CASH_balance.csv
previous_application.csv

In [ ]:
#### Data Variables Description Per CSV file:

##### **Application Test and Aplication Train files**

In [10]:
# Chunk for loading application_test.csv
application_test_path = os.path.join(folder_path, "application_test.csv")
try:
    application_test_df = pd.read_csv(application_test_path, encoding='utf-8')
except UnicodeDecodeError:
    application_test_df = pd.read_csv(application_test_path, encoding='latin1')
print("Displaying the first 5 rows of application_test.csv:")
display(application_test_df.head())  # Neat display

# Chunk for loading application_train.csv
application_train_path = os.path.join(folder_path, "application_train.csv")
try:
    application_train_df = pd.read_csv(application_train_path, encoding='utf-8')
except UnicodeDecodeError:
    application_train_df = pd.read_csv(application_train_path, encoding='latin1')
print("\nDisplaying the first 5 rows of application_train.csv:")
display(application_train_df.head())

Displaying the first 5 rows of application_test.csv:

,SK_ID_CURR,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100001,Cash loans,F,N,Y,0,135000.0,568800.0,20560.5,450000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
1,100005,Cash loans,M,N,Y,0,99000.0,222768.0,17370.0,180000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
2,100013,Cash loans,M,Y,Y,0,202500.0,663264.0,69777.0,630000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,4.0
3,100028,Cash loans,F,N,Y,2,315000.0,1575000.0,49018.5,1575000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
4,100038,Cash loans,M,Y,N,1,180000.0,625500.0,32067.0,625500.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN

Displaying the first 5 rows of application_train.csv:

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
1,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
2,100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
3,100006,0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,100007,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0

**Notes on Application Trian and Test Files:**
- Application Train and Application Test are the two main files for interpretation.
- One row represents one loan in a data sample.
- Train file contains 'target' variable, (1 - client with payment difficulties: he/she had late payment more than X days on at least one of the first Y installments of the loan in our sample, 0 - all other cases)

- **Variables:**
    - Loan ID (SK_ID_CURR): Unique identifier for each loan application.
    - Loan Type (NAME_CONTRACT_TYPE): Identifies the type of loan (e.g., Cash loans).
    - Gender (CODE_GENDER): Indicates the gender of the applicant (M or F).
    - Owns Car (FLAG_OWN_CAR): Flags if the applicant owns a car (Y/N).
    - Owns Realty (FLAG_OWN_REALTY): Flags if the applicant owns real estate property (Y/N).
    - Children (CNT_CHILDREN): Number of children in the applicant's family.
    - Income (AMT_INCOME_TOTAL): Total annual income of the applicant.
    - Loan Amount (AMT_CREDIT): Total loan amount requested by the applicant.
    - Annuity (AMT_ANNUITY): Loan annuity amount the applicant is supposed to pay annually.
    - Goods Price (AMT_GOODS_PRICE): The price of the goods for which the loan is requested.

##### **Bureau File:**

In [8]:
# Chunk for loading bureau.csv
bureau_path = os.path.join(folder_path, "bureau.csv")
try:
    bureau_df = pd.read_csv(bureau_path, encoding='utf-8')
except UnicodeDecodeError:
    bureau_df = pd.read_csv(bureau_path, encoding='latin1')
print("\nDisplaying the first 5 rows of bureau.csv:")
display(bureau_df.head())

Displaying the first 5 rows of bureau.csv:

,SK_ID_CURR,SK_ID_BUREAU,CREDIT_ACTIVE,CREDIT_CURRENCY,DAYS_CREDIT,CREDIT_DAY_OVERDUE,DAYS_CREDIT_ENDDATE,DAYS_ENDDATE_FACT,AMT_CREDIT_MAX_OVERDUE,CNT_CREDIT_PROLONG,AMT_CREDIT_SUM,AMT_CREDIT_SUM_DEBT,AMT_CREDIT_SUM_LIMIT,AMT_CREDIT_SUM_OVERDUE,CREDIT_TYPE,DAYS_CREDIT_UPDATE,AMT_ANNUITY
0,215354,5714462,Closed,currency 1,-497,0,-153.0,-153.0,NaN,0,91323.0,0.0,NaN,0.0,Consumer credit,-131,NaN
1,215354,5714463,Active,currency 1,-208,0,1075.0,NaN,NaN,0,225000.0,171342.0,NaN,0.0,Credit card,-20,NaN
2,215354,5714464,Active,currency 1,-203,0,528.0,NaN,NaN,0,464323.5,NaN,NaN,0.0,Consumer credit,-16,NaN
3,215354,5714465,Active,currency 1,-203,0,NaN,NaN,NaN,0,90000.0,NaN,NaN,0.0,Credit card,-16,NaN
4,215354,5714466,Active,currency 1,-629,0,1197.0,NaN,77674.5,0,2700000.0,NaN,NaN,0.0,Consumer credit,-21,NaN

**Notes on Bureau File:**
- Shows data on a clients historical buying behaviors
- Duration of previous creidts, repayment history, overdue credits.
- **Variables:**
    - Loan ID (SK_ID_CURR): Unique identifier for each loan application.
    - Bureau Record ID (SK_ID_BUREAU): Unique identifier for the previous credit bureau record.
    - Credit Status (CREDIT_ACTIVE): Status of the previous credit (e.g., Active, Closed).
    - Credit Currency (CREDIT_CURRENCY): The currency of the previous credit (e.g., currency 1, currency 2).
    - Days Since Credit Opened (DAYS_CREDIT): Number of days before the application the previous credit was opened (negative values indicate past).
    - Days Overdue (CREDIT_DAY_OVERDUE): Number of days the credit is overdue.
    - Days Until Credit Ends (DAYS_CREDIT_ENDDATE): Number of days until the credit ends or ended (negative values indicate the credit has already ended).
    - Actual Days Until Credit Ended (DAYS_ENDDATE_FACT): Actual number of days until the credit ended.
    - Max Overdue Amount (AMT_CREDIT_MAX_OVERDUE): Maximum amount overdue on the credit.
    - Number of Credit Prolongations (CNT_CREDIT_PROLONG): Number of times the credit has been prolonged (extended).
    - Total Credit Amount (AMT_CREDIT_SUM): Total amount of the credit for that record.
    - Total Debt (AMT_CREDIT_SUM_DEBT): Total remaining debt for the credit.
    - Credit Limit (AMT_CREDIT_SUM_LIMIT): Credit limit of the client for the credit.
    - Amount Overdue (AMT_CREDIT_SUM_OVERDUE): Total amount overdue on the credit.
    - Credit Type (CREDIT_TYPE): Type of the credit (e.g., Consumer credit, Credit card).
    - Days Since Last Credit Update (DAYS_CREDIT_UPDATE): Number of days since the last update of the credit record.
    - Annuity (AMT_ANNUITY): Annual annuity payment for the credit.

##### **Bureau Balance file**

In [11]:
# Chunk for loading bureau_balance.csv
bureau_balance_path = os.path.join(folder_path, "bureau_balance.csv")
try:
    bureau_balance_df = pd.read_csv(bureau_balance_path, encoding='utf-8')
except UnicodeDecodeError:
    bureau_balance_df = pd.read_csv(bureau_balance_path, encoding='latin1')
print("\nDisplaying the first 5 rows of bureau_balance.csv:")
display(bureau_balance_df.head())

Displaying the first 5 rows of bureau_balance.csv:

   SK_ID_BUREAU  MONTHS_BALANCE STATUS
0       5715448               0      C
1       5715448              -1      C
2       5715448              -2      C
3       5715448              -3      C
4       5715448              -4      C



**Notes on Bureau Balance file:**
- A client's previous credit provided from other financial instuitutions.
- **Variables**
    - Bureau Record ID (SK_ID_BUREAU): Unique identifier for the previous credit bureau record (same as in the `bureau.csv` file).
    - Months Balance (MONTHS_BALANCE): The number of months relative to the current application when this record was generated. A value of 0 represents the current month, negative values represent past months.
    - Credit Status (STATUS): The status of the credit at the time of the record. 
        - 'C' means Closed,
        - '0' means no DPD (Days Past Due),
        - '1-5' represent the number of days the payment is overdue (e.g., '1' = 1-30 days overdue, '2' = 31-60 days overdue, etc.),
        - 'X' means no loan for the month.

##### **Credit Card Balance File:**

In [12]:
# Chunk for loading credit_card_balance.csv
credit_card_balance_path = os.path.join(folder_path, "credit_card_balance.csv")
try:
    credit_card_balance_df = pd.read_csv(credit_card_balance_path, encoding='utf-8')
except UnicodeDecodeError:
    credit_card_balance_df = pd.read_csv(credit_card_balance_path, encoding='latin1')
print("\nDisplaying the first 5 rows of credit_card_balance.csv:")
display(credit_card_balance_df.head())

Displaying the first 5 rows of credit_card_balance.csv:

,SK_ID_PREV,SK_ID_CURR,MONTHS_BALANCE,AMT_BALANCE,AMT_CREDIT_LIMIT_ACTUAL,AMT_DRAWINGS_ATM_CURRENT,AMT_DRAWINGS_CURRENT,AMT_DRAWINGS_OTHER_CURRENT,AMT_DRAWINGS_POS_CURRENT,AMT_INST_MIN_REGULARITY,...,AMT_RECIVABLE,AMT_TOTAL_RECEIVABLE,CNT_DRAWINGS_ATM_CURRENT,CNT_DRAWINGS_CURRENT,CNT_DRAWINGS_OTHER_CURRENT,CNT_DRAWINGS_POS_CURRENT,CNT_INSTALMENT_MATURE_CUM,NAME_CONTRACT_STATUS,SK_DPD,SK_DPD_DEF
0,2562384,378907,-6,56.970,135000,0.0,877.5,0.0,877.5,1700.325,...,0.000,0.000,0.0,1,0.0,1.0,35.0,Active,0,0
1,2582071,363914,-1,63975.555,45000,2250.0,2250.0,0.0,0.0,2250.000,...,64875.555,64875.555,1.0,1,0.0,0.0,69.0,Active,0,0
2,1740877,371185,-7,31815.225,450000,0.0,0.0,0.0,0.0,2250.000,...,31460.085,31460.085,0.0,0,0.0,0.0,30.0,Active,0,0
3,1389973,337855,-4,236572.110,225000,2250.0,2250.0,0.0,0.0,11795.760,...,233048.970,233048.970,1.0,1,0.0,0.0,10.0,Active,0,0
4,1891521,126868,-1,453919.455,450000,0.0,11547.0,0.0,11547.0,22924.890,...,453919.455,453919.455,0.0,1,0.0,1.0,101.0,Active,0,0

**Notes on Credit Card Balance File:**
- This file contains infomation on credit card history:
- **Variables:**
        - Previous Application ID (SK_ID_PREV): Unique ID for the previous loan applications tied to the credit card.
        - Current Application ID (SK_ID_CURR): Unique ID of the current application.
        - Months Balance (MONTHS_BALANCE): Number of months since the balance record was generated.
        - Balance (AMT_BALANCE): Outstanding balance on the credit card.
        - Credit Limit (AMT_CREDIT_LIMIT_ACTUAL): Actual credit limit available on the card.
        - ATM Withdrawals (AMT_DRAWINGS_ATM_CURRENT): Amount withdrawn from ATMs during the current period.
        - Total Drawings (AMT_DRAWINGS_CURRENT): Total amount drawn during the current period.
        - Minimum Payment Due (AMT_INST_MIN_REGULARITY): Minimum required installment for the period.
        - Receivables (AMT_RECIVABLE): Amount to be received on the account.
        - Contract Status (NAME_CONTRACT_STATUS): Status of the credit card contract (e.g., Active, Closed).
        - Days Past Due (SK_DPD): Number of days the payment is past due.

In [14]:
# Chunk for loading installments_payments.csv
installments_payments_path = os.path.join(folder_path, "installments_payments.csv")
try:
    installments_payments_df = pd.read_csv(installments_payments_path, encoding='utf-8')
except UnicodeDecodeError:
    installments_payments_df = pd.read_csv(installments_payments_path, encoding='latin1')
print("\nDisplaying the first 5 rows of installments_payments.csv:")
display(installments_payments_df.head())

Displaying the first 5 rows of installments_payments.csv:

,SK_ID_PREV,SK_ID_CURR,NUM_INSTALMENT_VERSION,NUM_INSTALMENT_NUMBER,DAYS_INSTALMENT,DAYS_ENTRY_PAYMENT,AMT_INSTALMENT,AMT_PAYMENT
0,1054186,161674,1.0,6,-1180.0,-1187.0,6948.360,6948.360
1,1330831,151639,0.0,34,-2156.0,-2156.0,1716.525,1716.525
2,2085231,193053,2.0,1,-63.0,-63.0,25425.000,25425.000
3,2452527,199697,1.0,3,-2418.0,-2426.0,24350.130,24350.130
4,2714724,167756,1.0,2,-1383.0,-1366.0,2165.040,2160.585

Previous Application ID (SK_ID_PREV): Unique ID for the previous loan applications related to installments.
Current Application ID (SK_ID_CURR): Unique ID of the current application.
Installment Version (NUM_INSTALMENT_VERSION): Version of the installment payment.
Installment Number (NUM_INSTALMENT_NUMBER): Number of the installment.
Days Until Installment (DAYS_INSTALMENT): Number of days until the next installment.
Days of Payment Entry (DAYS_ENTRY_PAYMENT): Days since the entry of the payment.
Installment Amount (AMT_INSTALMENT): Amount due for the installment.
Actual Payment (AMT_PAYMENT): Amount actually paid by the client.

In [15]:
# Chunk for loading POS_CASH_balance.csv
POS_CASH_balance_path = os.path.join(folder_path, "POS_CASH_balance.csv")
try:
    POS_CASH_balance_df = pd.read_csv(POS_CASH_balance_path, encoding='utf-8')
except UnicodeDecodeError:
    POS_CASH_balance_df = pd.read_csv(POS_CASH_balance_path, encoding='latin1')
print("\nDisplaying the first 5 rows of POS_CASH_balance.csv:")
display(POS_CASH_balance_df.head())

Displaying the first 5 rows of POS_CASH_balance.csv:

,SK_ID_PREV,SK_ID_CURR,MONTHS_BALANCE,CNT_INSTALMENT,CNT_INSTALMENT_FUTURE,NAME_CONTRACT_STATUS,SK_DPD,SK_DPD_DEF
0,1803195,182943,-31,48.0,45.0,Active,0,0
1,1715348,367990,-33,36.0,35.0,Active,0,0
2,1784872,397406,-32,12.0,9.0,Active,0,0
3,1903291,269225,-35,48.0,42.0,Active,0,0
4,2341044,334279,-35,36.0,35.0,Active,0,0

Previous Application ID (SK_ID_PREV): Unique ID for the previous loan applications related to POS or Cash loans.
Current Application ID (SK_ID_CURR): Unique ID of the current application.
Months Balance (MONTHS_BALANCE): Number of months since the balance record was generated.
Installment Count (CNT_INSTALMENT): Number of installments in the contract.
Future Installments (CNT_INSTALMENT_FUTURE): Number of installments remaining.
Contract Status (NAME_CONTRACT_STATUS): Status of the POS or cash loan contract (e.g., Active, Completed).
Days Past Due (SK_DPD): Number of days the payment is past due.

In [16]:
# Chunk for loading previous_application.csv
previous_application_path = os.path.join(folder_path, "previous_application.csv")
try:
    previous_application_df = pd.read_csv(previous_application_path, encoding='utf-8')
except UnicodeDecodeError:
    previous_application_df = pd.read_csv(previous_application_path, encoding='latin1')
print("\nDisplaying the first 5 rows of previous_application.csv:")
display(previous_application_df.head())

Displaying the first 5 rows of previous_application.csv:

,SK_ID_PREV,SK_ID_CURR,NAME_CONTRACT_TYPE,AMT_ANNUITY,AMT_APPLICATION,AMT_CREDIT,AMT_DOWN_PAYMENT,AMT_GOODS_PRICE,WEEKDAY_APPR_PROCESS_START,HOUR_APPR_PROCESS_START,...,NAME_SELLER_INDUSTRY,CNT_PAYMENT,NAME_YIELD_GROUP,PRODUCT_COMBINATION,DAYS_FIRST_DRAWING,DAYS_FIRST_DUE,DAYS_LAST_DUE_1ST_VERSION,DAYS_LAST_DUE,DAYS_TERMINATION,NFLAG_INSURED_ON_APPROVAL
0,2030495,271877,Consumer loans,1730.430,17145.0,17145.0,0.0,17145.0,SATURDAY,15,...,Connectivity,12.0,middle,POS mobile with interest,365243.0,-42.0,300.0,-42.0,-37.0,0.0
1,2802425,108129,Cash loans,25188.615,607500.0,679671.0,NaN,607500.0,THURSDAY,11,...,XNA,36.0,low_action,Cash X-Sell: low,365243.0,-134.0,916.0,365243.0,365243.0,1.0
2,2523466,122040,Cash loans,15060.735,112500.0,136444.5,NaN,112500.0,TUESDAY,11,...,XNA,12.0,high,Cash X-Sell: high,365243.0,-271.0,59.0,365243.0,365243.0,1.0
3,2819243,176158,Cash loans,47041.335,450000.0,470790.0,NaN,450000.0,MONDAY,7,...,XNA,12.0,middle,Cash X-Sell: middle,365243.0,-482.0,-152.0,-182.0,-177.0,1.0
4,1784265,202054,Cash loans,31924.395,337500.0,404055.0,NaN,337500.0,THURSDAY,9,...,XNA,24.0,high,Cash Street: high,NaN,NaN,NaN,NaN,NaN,NaN

Previous Application ID (SK_ID_PREV): Unique ID for previous loan applications.
Current Application ID (SK_ID_CURR): Unique ID of the current application.
Loan Type (NAME_CONTRACT_TYPE): Type of loan in the previous application (e.g., Consumer loans, Cash loans).
Annuity (AMT_ANNUITY): Annuity amount related to the previous loan.
Application Amount (AMT_APPLICATION): Amount requested in the previous application.
Credit Amount (AMT_CREDIT): Credit amount approved for the previous application.
Goods Price (AMT_GOODS_PRICE): Price of the goods financed by the loan.
Weekday of Application (WEEKDAY_APPR_PROCESS_START): Day of the week when the loan application process started.
Hour of Application (HOUR_APPR_PROCESS_START): Hour of the day when the loan application process started.
Seller Industry (NAME_SELLER_INDUSTRY): Industry of the seller for the goods purchased with the loan.
Payment Count (CNT_PAYMENT): Number of payments related to the loan.
Yield Group (NAME_YIELD_GROUP): Yield group classification for the loan (e.g., low_action, middle).