# Modeling Notebook

# Table of Contents:
- [Notebook Imports](#notebook-imports)

# Notebook Imports:

In [1]:
import os
import pandas as pd
import numpy as np
from skimpy import skim
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.impute import SimpleImputer
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer
import warnings

# Suppress all warnings
warnings.filterwarnings('ignore')

# Loading Data

In [2]:
# Specify your folder path:
folder_path = r"C:/Users/johne/Downloads/home-credit-default-risk"

# Loading application_test.csv
application_test_path = os.path.join(folder_path, "application_test.csv")
try:
    application_test_df = pd.read_csv(application_test_path, encoding='utf-8') # Added throughout import code to account for CSV file loading errors
except UnicodeDecodeError:
    application_test_df = pd.read_csv(application_test_path, encoding='latin1')
print("Displaying the first 5 rows of application_test.csv:")
display(application_test_df.head())  # Neat display

# Loading application_train.csv
application_train_path = os.path.join(folder_path, "application_train.csv")
try:
    application_train_df = pd.read_csv(application_train_path, encoding='utf-8')
except UnicodeDecodeError:
    application_train_df = pd.read_csv(application_train_path, encoding='latin1')
print("\nDisplaying the first 5 rows of application_train.csv:")
display(application_train_df.head())

Displaying the first 5 rows of application_test.csv:

,SK_ID_CURR,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100001,Cash loans,F,N,Y,0,135000.0,568800.0,20560.5,450000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
1,100005,Cash loans,M,N,Y,0,99000.0,222768.0,17370.0,180000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
2,100013,Cash loans,M,Y,Y,0,202500.0,663264.0,69777.0,630000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,4.0
3,100028,Cash loans,F,N,Y,2,315000.0,1575000.0,49018.5,1575000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
4,100038,Cash loans,M,Y,N,1,180000.0,625500.0,32067.0,625500.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN

Displaying the first 5 rows of application_train.csv:

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
1,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
2,100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
3,100006,0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,100007,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0

# Initial Splitting and Setup

In [3]:
# Identify target and feature columns
target = 'TARGET'
features = application_train_df.columns.drop(target)

# Split the dataset into features and target
X_train = application_train_df[features]
y_train = application_train_df[target]

# For testing data
X_test = application_test_df

# Preprocessing

In [4]:
# Identify categorical and numerical columns
categorical_cols = [col for col in X_train.columns if X_train[col].dtype == 'object']
numerical_cols = [col for col in X_train.columns if X_train[col].dtype in ['int64', 'float64']]

# Preprocessing for numerical data
numerical_transformer = Pipeline(steps=[
    ('imputer', SimpleImputer(strategy='median')),
    ('scaler', StandardScaler())
])

# Preprocessing for categorical data
categorical_transformer = Pipeline(steps=[
    ('imputer', SimpleImputer(strategy='most_frequent')),
    ('onehot', OneHotEncoder(handle_unknown='ignore'))
])

# Combine preprocessing for numerical and categorical data
preprocessor = ColumnTransformer(
    transformers=[
        ('num', numerical_transformer, numerical_cols),
        ('cat', categorical_transformer, categorical_cols)
    ]
)

In [5]:
# Preprocessing the training data
print("Head of original training data:")
print(X_train.head())
X_train_preprocessed = preprocessor.fit_transform(X_train)
print("Head of training data after preprocessing:")
print(pd.DataFrame(X_train_preprocessed).head())

# Preprocessing the test data
print("Head of original test data:")
print(X_test.head())
X_test_preprocessed = preprocessor.transform(X_test)
print("Head of test data after preprocessing:")
print(pd.DataFrame(X_test_preprocessed).head())

# Convert preprocessed data back to DataFrame for better readability
X_train_preprocessed_df = pd.DataFrame(X_train_preprocessed)
X_test_preprocessed_df = pd.DataFrame(X_test_preprocessed)

# Display the first few rows of the preprocessed training data
print(X_train_preprocessed_df.head())

# Save preprocessed data for modeling
X_train_preprocessed_df.to_csv('X_train_preprocessed.csv', index=False)
X_test_preprocessed_df.to_csv('X_test_preprocessed.csv', index=False)
y_train.to_csv('y_train.csv', index=False)

Head of original training data:
   SK_ID_CURR NAME_CONTRACT_TYPE CODE_GENDER FLAG_OWN_CAR FLAG_OWN_REALTY  \
0      100002         Cash loans           M            N               Y
1      100003         Cash loans           F            N               N
2      100004    Revolving loans           M            Y               Y
3      100006         Cash loans           F            N               Y
4      100007         Cash loans           M            N               Y

   CNT_CHILDREN  AMT_INCOME_TOTAL  AMT_CREDIT  AMT_ANNUITY  AMT_GOODS_PRICE  \
0             0          202500.0    406597.5      24700.5         351000.0
1             0          270000.0   1293502.5      35698.5        1129500.0
2             0           67500.0    135000.0       6750.0         135000.0
3             0          135000.0    312682.5      29686.5         297000.0
4             0          121500.0    513000.0      21865.5         513000.0

   ... FLAG_DOCUMENT_18 FLAG_DOCUMENT_19 FLAG_DOCUMENT_20 FLAG_DOCUMENT_21  \
0  ...                0                0                0                0
1  ...                0                0                0                0
2  ...                0                0                0                0
3  ...                0                0                0                0
4  ...                0                0                0                0

  AMT_REQ_CREDIT_BUREAU_HOUR  AMT_REQ_CREDIT_BUREAU_DAY  \
0                        0.0                        0.0
1                        0.0                        0.0
2                        0.0                        0.0
3                        NaN                        NaN
4                        0.0                        0.0

   AMT_REQ_CREDIT_BUREAU_WEEK  AMT_REQ_CREDIT_BUREAU_MON  \
0                         0.0                        0.0
1                         0.0                        0.0
2                         0.0                        0.0
3                         NaN                        NaN
4                         0.0                        0.0

   AMT_REQ_CREDIT_BUREAU_QRT  AMT_REQ_CREDIT_BUREAU_YEAR
0                        0.0                         1.0
1                        0.0                         0.0
2                        0.0                         0.0
3                        NaN                         NaN
4                        0.0                         0.0

[5 rows x 121 columns]
Head of training data after preprocessing:
        0         1         2         3         4         5         6    \
0 -1.733423 -0.577538  0.142129 -0.478095 -0.166143 -0.507236 -0.149452
1 -1.733413 -0.577538  0.426792  1.725450  0.592683  1.600873 -1.252750
2 -1.733403 -0.577538 -0.427196 -1.152888 -1.404669 -1.092145 -0.783451
3 -1.733384 -0.577538 -0.142533 -0.711430  0.177874 -0.653463 -0.928991
4 -1.733374 -0.577538 -0.199466 -0.213734 -0.361749 -0.068554  0.563570

        7         8         9    ...  235  236  237  238  239  240  241  242  \
0  1.506880 -0.456215  0.379837  ...  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0
1 -0.166821 -0.460115  1.078697  ...  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0
2 -0.689509 -0.453299  0.206116  ...  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0
3 -0.680114 -0.473217 -1.375829  ...  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0
4 -0.892535 -0.473210  0.191639  ...  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0

   243  244
0  1.0  0.0
1  1.0  0.0
2  1.0  0.0
3  1.0  0.0
4  1.0  0.0

[5 rows x 245 columns]
Head of original test data:
   SK_ID_CURR NAME_CONTRACT_TYPE CODE_GENDER FLAG_OWN_CAR FLAG_OWN_REALTY  \
0      100001         Cash loans           F            N               Y
1      100005         Cash loans           M            N               Y
2      100013         Cash loans           M            Y               Y
3      100028         Cash loans           F            N               Y
4      100038         Cash loans           M            Y               N

   CNT_CHILDREN  AMT_INCOME_TOTAL  AMT_CREDIT  AMT_ANNUITY  AMT_GOODS_PRICE  \
0             0          135000.0    568800.0      20560.5         450000.0
1             0           99000.0    222768.0      17370.0         180000.0
2             0          202500.0    663264.0      69777.0         630000.0
3             2          315000.0   1575000.0      49018.5        1575000.0
4             1          180000.0    625500.0      32067.0         625500.0

   ... FLAG_DOCUMENT_18 FLAG_DOCUMENT_19 FLAG_DOCUMENT_20 FLAG_DOCUMENT_21  \
0  ...                0                0                0                0
1  ...                0                0                0                0
2  ...                0                0                0                0
3  ...                0                0                0                0
4  ...                0                0                0                0

  AMT_REQ_CREDIT_BUREAU_HOUR  AMT_REQ_CREDIT_BUREAU_DAY  \
0                        0.0                        0.0
1                        0.0                        0.0
2                        0.0                        0.0
3                        0.0                        0.0
4                        NaN                        NaN

   AMT_REQ_CREDIT_BUREAU_WEEK  AMT_REQ_CREDIT_BUREAU_MON  \
0                         0.0                        0.0
1                         0.0                        0.0
2                         0.0                        0.0
3                         0.0                        0.0
4                         NaN                        NaN

   AMT_REQ_CREDIT_BUREAU_QRT  AMT_REQ_CREDIT_BUREAU_YEAR
0                        0.0                         0.0
1                        0.0                         3.0
2                        1.0                         4.0
3                        0.0                         3.0
4                        NaN                         NaN

[5 rows x 121 columns]
Head of test data after preprocessing:
        0         1         2         3         4         5         6    \
0 -1.733432 -0.577538 -0.142533 -0.075097 -0.451790 -0.239153 -0.145910
1 -1.733393 -0.577538 -0.294354 -0.934825 -0.671924 -0.970289  1.078997
2 -1.733316 -0.577538  0.142129  0.159601  2.943988  0.248271 -0.127762
3 -1.733170  2.192084  0.616567  2.424840  1.511720  2.807247  0.399377
4 -1.733072  0.807273  0.047242  0.065776  0.342121  0.236086 -0.783451

        7         8         9    ...  235  236  237  238  239  240  241  242  \
0 -0.734193 -0.468192 -0.052196  ...  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0
1 -0.464485 -0.483339 -1.172870  ...  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0
2 -0.916824 -0.483262  0.797961  ...  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0
3  0.472274 -0.464915  0.847636  ...  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0
4  0.686757 -0.467215  0.279919  ...  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0

   243  244
0  1.0  0.0
1  1.0  0.0
2  1.0  0.0
3  1.0  0.0
4  1.0  0.0

[5 rows x 245 columns]
        0         1         2         3         4         5         6    \
0 -1.733423 -0.577538  0.142129 -0.478095 -0.166143 -0.507236 -0.149452
1 -1.733413 -0.577538  0.426792  1.725450  0.592683  1.600873 -1.252750
2 -1.733403 -0.577538 -0.427196 -1.152888 -1.404669 -1.092145 -0.783451
3 -1.733384 -0.577538 -0.142533 -0.711430  0.177874 -0.653463 -0.928991
4 -1.733374 -0.577538 -0.199466 -0.213734 -0.361749 -0.068554  0.563570

        7         8         9    ...  235  236  237  238  239  240  241  242  \
0  1.506880 -0.456215  0.379837  ...  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0
1 -0.166821 -0.460115  1.078697  ...  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0
2 -0.689509 -0.453299  0.206116  ...  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0
3 -0.680114 -0.473217 -1.375829  ...  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0
4 -0.892535 -0.473210  0.191639  ...  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0

   243  244
0  1.0  0.0
1  1.0  0.0
2  1.0  0.0
3  1.0  0.0
4  1.0  0.0

[5 rows x 245 columns]