# Modeling Notebook

# Table of Contents:
- [Notebook Imports](#notebook-imports)

# Notebook Imports:

In [21]:
import pandas as pd
import numpy as np
import os
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.impute import SimpleImputer
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
from statsmodels.stats.outliers_influence import variance_inflation_factor
import warnings

# Suppress all warnings
warnings.filterwarnings('ignore')

# Loading Data

In [2]:
# Specify your folder path:
folder_path = r"C:/Users/johne/Downloads/home-credit-default-risk"

# Loading application_test.csv
application_test_path = os.path.join(folder_path, "application_test.csv")
try:
    application_test_df = pd.read_csv(application_test_path, encoding='utf-8') # Added throughout import code to account for CSV file loading errors
except UnicodeDecodeError:
    application_test_df = pd.read_csv(application_test_path, encoding='latin1')
print("Displaying the first 5 rows of application_test.csv:")
display(application_test_df.head())  # Neat display

# Loading application_train.csv
application_train_path = os.path.join(folder_path, "application_train.csv")
try:
    application_train_df = pd.read_csv(application_train_path, encoding='utf-8')
except UnicodeDecodeError:
    application_train_df = pd.read_csv(application_train_path, encoding='latin1')
print("\nDisplaying the first 5 rows of application_train.csv:")
display(application_train_df.head())

Displaying the first 5 rows of application_test.csv:

,SK_ID_CURR,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100001,Cash loans,F,N,Y,0,135000.0,568800.0,20560.5,450000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
1,100005,Cash loans,M,N,Y,0,99000.0,222768.0,17370.0,180000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
2,100013,Cash loans,M,Y,Y,0,202500.0,663264.0,69777.0,630000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,4.0
3,100028,Cash loans,F,N,Y,2,315000.0,1575000.0,49018.5,1575000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
4,100038,Cash loans,M,Y,N,1,180000.0,625500.0,32067.0,625500.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN

Displaying the first 5 rows of application_train.csv:

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
1,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
2,100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
3,100006,0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,100007,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0

# Initial Splitting and Setup

In [3]:
# Identify target and feature columns
target = 'TARGET'
features = application_train_df.columns.drop(target)

# Split the dataset into features and target
X_train = application_train_df[features]
y_train = application_train_df[target]

# For testing data
X_test = application_test_df

# Preprocessing

In [7]:
# Identify categorical and numerical columns
categorical_cols = [col for col in X_train.columns if X_train[col].dtype == 'object']
numerical_cols = [col for col in X_train.columns if X_train[col].dtype in ['int64', 'float64']]

# Identify columns with missing values
missing_numerical_cols = [col for col in numerical_cols if X_train[col].isnull().any()]
missing_categorical_cols = [col for col in categorical_cols if X_train[col].isnull().any()]

# Print columns with missing values
print("Numerical columns with missing values:", missing_numerical_cols)
print("Categorical columns with missing values:", missing_categorical_cols)

# Preprocessing for numerical data
numerical_transformer = Pipeline(steps=[
    ('imputer', SimpleImputer(strategy='median')),
    ('scaler', StandardScaler())
])

# Preprocessing for categorical data
categorical_transformer = Pipeline(steps=[
    ('imputer', SimpleImputer(strategy='most_frequent')),
    ('onehot', OneHotEncoder(handle_unknown='ignore'))
])

# Combine preprocessing for numerical and categorical data
preprocessor = ColumnTransformer(
    transformers=[
        ('num', numerical_transformer, numerical_cols),
        ('cat', categorical_transformer, categorical_cols)
    ]
)

Numerical columns with missing values: ['AMT_ANNUITY', 'AMT_GOODS_PRICE', 'OWN_CAR_AGE', 'CNT_FAM_MEMBERS', 'EXT_SOURCE_1', 'EXT_SOURCE_2', 'EXT_SOURCE_3', 'APARTMENTS_AVG', 'BASEMENTAREA_AVG', 'YEARS_BEGINEXPLUATATION_AVG', 'YEARS_BUILD_AVG', 'COMMONAREA_AVG', 'ELEVATORS_AVG', 'ENTRANCES_AVG', 'FLOORSMAX_AVG', 'FLOORSMIN_AVG', 'LANDAREA_AVG', 'LIVINGAPARTMENTS_AVG', 'LIVINGAREA_AVG', 'NONLIVINGAPARTMENTS_AVG', 'NONLIVINGAREA_AVG', 'APARTMENTS_MODE', 'BASEMENTAREA_MODE', 'YEARS_BEGINEXPLUATATION_MODE', 'YEARS_BUILD_MODE', 'COMMONAREA_MODE', 'ELEVATORS_MODE', 'ENTRANCES_MODE', 'FLOORSMAX_MODE', 'FLOORSMIN_MODE', 'LANDAREA_MODE', 'LIVINGAPARTMENTS_MODE', 'LIVINGAREA_MODE', 'NONLIVINGAPARTMENTS_MODE', 'NONLIVINGAREA_MODE', 'APARTMENTS_MEDI', 'BASEMENTAREA_MEDI', 'YEARS_BEGINEXPLUATATION_MEDI', 'YEARS_BUILD_MEDI', 'COMMONAREA_MEDI', 'ELEVATORS_MEDI', 'ENTRANCES_MEDI', 'FLOORSMAX_MEDI', 'FLOORSMIN_MEDI', 'LANDAREA_MEDI', 'LIVINGAPARTMENTS_MEDI', 'LIVINGAREA_MEDI', 'NONLIVINGAPARTMENTS_MEDI', 'NONLIVINGAREA_MEDI', 'TOTALAREA_MODE', 'OBS_30_CNT_SOCIAL_CIRCLE', 'DEF_30_CNT_SOCIAL_CIRCLE', 'OBS_60_CNT_SOCIAL_CIRCLE', 'DEF_60_CNT_SOCIAL_CIRCLE', 'DAYS_LAST_PHONE_CHANGE', 'AMT_REQ_CREDIT_BUREAU_HOUR', 'AMT_REQ_CREDIT_BUREAU_DAY', 'AMT_REQ_CREDIT_BUREAU_WEEK', 'AMT_REQ_CREDIT_BUREAU_MON', 'AMT_REQ_CREDIT_BUREAU_QRT', 'AMT_REQ_CREDIT_BUREAU_YEAR']
Categorical columns with missing values: ['NAME_TYPE_SUITE', 'OCCUPATION_TYPE', 'FONDKAPREMONT_MODE', 'HOUSETYPE_MODE', 'WALLSMATERIAL_MODE', 'EMERGENCYSTATE_MODE']

In [5]:
# Preprocessing the training data
print("Head of original training data:")
print(X_train.head())
X_train_preprocessed = preprocessor.fit_transform(X_train)
print("Head of training data after preprocessing:")
print(pd.DataFrame(X_train_preprocessed).head())

# Preprocessing the test data
print("Head of original test data:")
print(X_test.head())
X_test_preprocessed = preprocessor.transform(X_test)
print("Head of test data after preprocessing:")
print(pd.DataFrame(X_test_preprocessed).head())

# Convert preprocessed data back to DataFrame for better readability
X_train_preprocessed_df = pd.DataFrame(X_train_preprocessed)
X_test_preprocessed_df = pd.DataFrame(X_test_preprocessed)

# Display the first few rows of the preprocessed training data
print(X_train_preprocessed_df.head())

# Save preprocessed data for modeling
X_train_preprocessed_df.to_csv('X_train_preprocessed.csv', index=False)
X_test_preprocessed_df.to_csv('X_test_preprocessed.csv', index=False)
y_train.to_csv('y_train.csv', index=False)

Head of original training data:
   SK_ID_CURR NAME_CONTRACT_TYPE CODE_GENDER FLAG_OWN_CAR FLAG_OWN_REALTY  \
0      100002         Cash loans           M            N               Y
1      100003         Cash loans           F            N               N
2      100004    Revolving loans           M            Y               Y
3      100006         Cash loans           F            N               Y
4      100007         Cash loans           M            N               Y

   CNT_CHILDREN  AMT_INCOME_TOTAL  AMT_CREDIT  AMT_ANNUITY  AMT_GOODS_PRICE  \
0             0          202500.0    406597.5      24700.5         351000.0
1             0          270000.0   1293502.5      35698.5        1129500.0
2             0           67500.0    135000.0       6750.0         135000.0
3             0          135000.0    312682.5      29686.5         297000.0
4             0          121500.0    513000.0      21865.5         513000.0

   ... FLAG_DOCUMENT_18 FLAG_DOCUMENT_19 FLAG_DOCUMENT_20 FLAG_DOCUMENT_21  \
0  ...                0                0                0                0
1  ...                0                0                0                0
2  ...                0                0                0                0
3  ...                0                0                0                0
4  ...                0                0                0                0

  AMT_REQ_CREDIT_BUREAU_HOUR  AMT_REQ_CREDIT_BUREAU_DAY  \
0                        0.0                        0.0
1                        0.0                        0.0
2                        0.0                        0.0
3                        NaN                        NaN
4                        0.0                        0.0

   AMT_REQ_CREDIT_BUREAU_WEEK  AMT_REQ_CREDIT_BUREAU_MON  \
0                         0.0                        0.0
1                         0.0                        0.0
2                         0.0                        0.0
3                         NaN                        NaN
4                         0.0                        0.0

   AMT_REQ_CREDIT_BUREAU_QRT  AMT_REQ_CREDIT_BUREAU_YEAR
0                        0.0                         1.0
1                        0.0                         0.0
2                        0.0                         0.0
3                        NaN                         NaN
4                        0.0                         0.0

[5 rows x 121 columns]
Head of training data after preprocessing:
        0         1         2         3         4         5         6    \
0 -1.733423 -0.577538  0.142129 -0.478095 -0.166143 -0.507236 -0.149452
1 -1.733413 -0.577538  0.426792  1.725450  0.592683  1.600873 -1.252750
2 -1.733403 -0.577538 -0.427196 -1.152888 -1.404669 -1.092145 -0.783451
3 -1.733384 -0.577538 -0.142533 -0.711430  0.177874 -0.653463 -0.928991
4 -1.733374 -0.577538 -0.199466 -0.213734 -0.361749 -0.068554  0.563570

        7         8         9    ...  235  236  237  238  239  240  241  242  \
0  1.506880 -0.456215  0.379837  ...  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0
1 -0.166821 -0.460115  1.078697  ...  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0
2 -0.689509 -0.453299  0.206116  ...  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0
3 -0.680114 -0.473217 -1.375829  ...  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0
4 -0.892535 -0.473210  0.191639  ...  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0

   243  244
0  1.0  0.0
1  1.0  0.0
2  1.0  0.0
3  1.0  0.0
4  1.0  0.0

[5 rows x 245 columns]
Head of original test data:
   SK_ID_CURR NAME_CONTRACT_TYPE CODE_GENDER FLAG_OWN_CAR FLAG_OWN_REALTY  \
0      100001         Cash loans           F            N               Y
1      100005         Cash loans           M            N               Y
2      100013         Cash loans           M            Y               Y
3      100028         Cash loans           F            N               Y
4      100038         Cash loans           M            Y               N

   CNT_CHILDREN  AMT_INCOME_TOTAL  AMT_CREDIT  AMT_ANNUITY  AMT_GOODS_PRICE  \
0             0          135000.0    568800.0      20560.5         450000.0
1             0           99000.0    222768.0      17370.0         180000.0
2             0          202500.0    663264.0      69777.0         630000.0
3             2          315000.0   1575000.0      49018.5        1575000.0
4             1          180000.0    625500.0      32067.0         625500.0

   ... FLAG_DOCUMENT_18 FLAG_DOCUMENT_19 FLAG_DOCUMENT_20 FLAG_DOCUMENT_21  \
0  ...                0                0                0                0
1  ...                0                0                0                0
2  ...                0                0                0                0
3  ...                0                0                0                0
4  ...                0                0                0                0

  AMT_REQ_CREDIT_BUREAU_HOUR  AMT_REQ_CREDIT_BUREAU_DAY  \
0                        0.0                        0.0
1                        0.0                        0.0
2                        0.0                        0.0
3                        0.0                        0.0
4                        NaN                        NaN

   AMT_REQ_CREDIT_BUREAU_WEEK  AMT_REQ_CREDIT_BUREAU_MON  \
0                         0.0                        0.0
1                         0.0                        0.0
2                         0.0                        0.0
3                         0.0                        0.0
4                         NaN                        NaN

   AMT_REQ_CREDIT_BUREAU_QRT  AMT_REQ_CREDIT_BUREAU_YEAR
0                        0.0                         0.0
1                        0.0                         3.0
2                        1.0                         4.0
3                        0.0                         3.0
4                        NaN                         NaN

[5 rows x 121 columns]
Head of test data after preprocessing:
        0         1         2         3         4         5         6    \
0 -1.733432 -0.577538 -0.142533 -0.075097 -0.451790 -0.239153 -0.145910
1 -1.733393 -0.577538 -0.294354 -0.934825 -0.671924 -0.970289  1.078997
2 -1.733316 -0.577538  0.142129  0.159601  2.943988  0.248271 -0.127762
3 -1.733170  2.192084  0.616567  2.424840  1.511720  2.807247  0.399377
4 -1.733072  0.807273  0.047242  0.065776  0.342121  0.236086 -0.783451

        7         8         9    ...  235  236  237  238  239  240  241  242  \
0 -0.734193 -0.468192 -0.052196  ...  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0
1 -0.464485 -0.483339 -1.172870  ...  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0
2 -0.916824 -0.483262  0.797961  ...  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0
3  0.472274 -0.464915  0.847636  ...  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0
4  0.686757 -0.467215  0.279919  ...  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0

   243  244
0  1.0  0.0
1  1.0  0.0
2  1.0  0.0
3  1.0  0.0
4  1.0  0.0

[5 rows x 245 columns]
        0         1         2         3         4         5         6    \
0 -1.733423 -0.577538  0.142129 -0.478095 -0.166143 -0.507236 -0.149452
1 -1.733413 -0.577538  0.426792  1.725450  0.592683  1.600873 -1.252750
2 -1.733403 -0.577538 -0.427196 -1.152888 -1.404669 -1.092145 -0.783451
3 -1.733384 -0.577538 -0.142533 -0.711430  0.177874 -0.653463 -0.928991
4 -1.733374 -0.577538 -0.199466 -0.213734 -0.361749 -0.068554  0.563570

        7         8         9    ...  235  236  237  238  239  240  241  242  \
0  1.506880 -0.456215  0.379837  ...  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0
1 -0.166821 -0.460115  1.078697  ...  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0
2 -0.689509 -0.453299  0.206116  ...  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0
3 -0.680114 -0.473217 -1.375829  ...  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0
4 -0.892535 -0.473210  0.191639  ...  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0

   243  244
0  1.0  0.0
1  1.0  0.0
2  1.0  0.0
3  1.0  0.0
4  1.0  0.0

[5 rows x 245 columns]

# Simple Linear Model on Non-missing data:

In [10]:
# Select features with missing values <1% for linear regression model
missing_threshold = 0.01
low_missing_numerical_cols = [col for col in numerical_cols if X_train[col].isnull().mean() < missing_threshold]
low_missing_categorical_cols = [col for col in categorical_cols if X_train[col].isnull().mean() < missing_threshold]

# Preprocessing only for selected features
selected_preprocessor = ColumnTransformer(
    transformers=[
        ('num', numerical_transformer, low_missing_numerical_cols),
        ('cat', categorical_transformer, low_missing_categorical_cols)
    ]
)

# Preprocessing the training data with selected features
X_train_selected_preprocessed = selected_preprocessor.fit_transform(X_train)

# Convert preprocessed data back to DataFrame for better readability
X_train_selected_preprocessed_df = pd.DataFrame(X_train_selected_preprocessed)

# Simple Linear Regression Model
linear_regressor = LinearRegression()
linear_regressor.fit(X_train_selected_preprocessed_df, y_train)

# Predict on the training data
y_train_pred = linear_regressor.predict(X_train_selected_preprocessed_df)

# Calculate and print Mean Squared Error
mse = mean_squared_error(y_train, y_train_pred)
print(f"Mean Squared Error of Linear Regression Model: {mse}")


# FINAL SCORE: Score: 0.50000 Private score: 0.49995

Mean Squared Error of Linear Regression Model: 0.07080357961985398

In [18]:
# Examine model weights
coefficients = linear_regressor.coef_
intercept = linear_regressor.intercept_

# Get the names of all selected features after one-hot encoding
feature_names = selected_preprocessor.named_transformers_['num'].feature_names_in_.tolist() + \
                selected_preprocessor.named_transformers_['cat'].get_feature_names_out(low_missing_categorical_cols).tolist()

# Create a DataFrame for coefficients and feature names
coef_df = pd.DataFrame({'Feature': feature_names, 'Coefficient': coefficients})

# Sort features by the absolute value of coefficients to see which are most impactful
coef_df['Abs_Coefficient'] = coef_df['Coefficient'].abs()
coef_df_sorted = coef_df.sort_values(by='Abs_Coefficient', ascending=False)

# Expandable display for better examination
pd.options.display.max_rows = None
print("\nLinear Regression Model Coefficients and their Importance:")
print(coef_df_sorted)

Linear Regression Model Coefficients and their Importance:
                                               Feature   Coefficient  \
99                  WEEKDAY_APPR_PROCESS_START_TUESDAY  4.266204e+11
94                   WEEKDAY_APPR_PROCESS_START_FRIDAY  4.266204e+11
100               WEEKDAY_APPR_PROCESS_START_WEDNESDAY  4.266204e+11
98                 WEEKDAY_APPR_PROCESS_START_THURSDAY  4.266204e+11
96                 WEEKDAY_APPR_PROCESS_START_SATURDAY  4.266204e+11
95                   WEEKDAY_APPR_PROCESS_START_MONDAY  4.266204e+11
97                   WEEKDAY_APPR_PROCESS_START_SUNDAY  4.266204e+11
56                                       CODE_GENDER_M  9.323239e+10
55                                       CODE_GENDER_F  9.323239e+10
57                                     CODE_GENDER_XNA  9.323239e+10
82                   NAME_FAMILY_STATUS_Civil marriage  9.318658e+10
83                          NAME_FAMILY_STATUS_Married  9.318658e+10
86                          NAME_FAMILY_STATUS_Unknown  9.318658e+10
84                        NAME_FAMILY_STATUS_Separated  8.053123e+10
85             NAME_FAMILY_STATUS_Single / not married  8.053123e+10
87                            NAME_FAMILY_STATUS_Widow  8.053123e+10
58                                      FLAG_OWN_CAR_N  6.377766e+10
59                                      FLAG_OWN_CAR_Y  6.377766e+10
61                                   FLAG_OWN_REALTY_Y  6.176364e+10
60                                   FLAG_OWN_REALTY_N  6.176364e+10
77                 NAME_EDUCATION_TYPE_Academic degree -5.758702e+10
78                NAME_EDUCATION_TYPE_Higher education -5.758702e+10
79               NAME_EDUCATION_TYPE_Incomplete higher -5.758702e+10
81   NAME_EDUCATION_TYPE_Secondary / secondary special -5.758702e+10
80                 NAME_EDUCATION_TYPE_Lower secondary -5.758702e+10
71                    NAME_INCOME_TYPE_Maternity leave  2.611331e+10
75                         NAME_INCOME_TYPE_Unemployed  2.611331e+10
76                            NAME_INCOME_TYPE_Working  2.611331e+10
73                      NAME_INCOME_TYPE_State servant  2.611331e+10
70               NAME_INCOME_TYPE_Commercial associate  2.611331e+10
69                        NAME_INCOME_TYPE_Businessman  2.611331e+10
72                          NAME_INCOME_TYPE_Pensioner  2.611331e+10
74                            NAME_INCOME_TYPE_Student  2.611331e+10
17                                     CNT_FAM_MEMBERS -1.152495e+10
1                                         CNT_CHILDREN  9.138689e+09
65                             NAME_TYPE_SUITE_Other_A -8.295344e+09
67                     NAME_TYPE_SUITE_Spouse, partner -8.295344e+09
63                              NAME_TYPE_SUITE_Family -8.295344e+09
64                     NAME_TYPE_SUITE_Group of people -8.295344e+09
62                            NAME_TYPE_SUITE_Children -8.295344e+09
68                       NAME_TYPE_SUITE_Unaccompanied -8.295344e+09
66                             NAME_TYPE_SUITE_Other_B -8.295344e+09
90               NAME_HOUSING_TYPE_Municipal apartment  5.217082e+09
92                  NAME_HOUSING_TYPE_Rented apartment  5.217082e+09
93                      NAME_HOUSING_TYPE_With parents  5.217082e+09
89                 NAME_HOUSING_TYPE_House / apartment  5.217082e+09
88                   NAME_HOUSING_TYPE_Co-op apartment  5.217082e+09
91                  NAME_HOUSING_TYPE_Office apartment  5.217082e+09
54                  NAME_CONTRACT_TYPE_Revolving loans  1.302968e+09
53                       NAME_CONTRACT_TYPE_Cash loans  1.302968e+09
158                              ORGANIZATION_TYPE_XNA -8.405765e+08
149                    ORGANIZATION_TYPE_Trade: type 4 -8.405765e+08
118                ORGANIZATION_TYPE_Industry: type 12 -8.405765e+08
153                ORGANIZATION_TYPE_Transport: type 1 -8.405765e+08
132                         ORGANIZATION_TYPE_Military -8.405765e+08
151                    ORGANIZATION_TYPE_Trade: type 6 -8.405765e+08
147                    ORGANIZATION_TYPE_Trade: type 2 -8.405765e+08
142              ORGANIZATION_TYPE_Security Ministries -8.405765e+08
135                           ORGANIZATION_TYPE_Police -8.405765e+08
123                 ORGANIZATION_TYPE_Industry: type 5 -8.405765e+08
127                 ORGANIZATION_TYPE_Industry: type 9 -8.405765e+08
116                ORGANIZATION_TYPE_Industry: type 10 -8.405765e+08
103                             ORGANIZATION_TYPE_Bank -8.405765e+08
113                            ORGANIZATION_TYPE_Hotel -8.405765e+08
111                        ORGANIZATION_TYPE_Emergency -8.405765e+08
120                 ORGANIZATION_TYPE_Industry: type 2 -8.405765e+08
138                         ORGANIZATION_TYPE_Religion -8.405765e+08
150                    ORGANIZATION_TYPE_Trade: type 5 -8.405765e+08
124                 ORGANIZATION_TYPE_Industry: type 6 -8.405765e+08
144                         ORGANIZATION_TYPE_Services -8.405765e+08
140                           ORGANIZATION_TYPE_School -8.405765e+08
154                ORGANIZATION_TYPE_Transport: type 2 -8.405765e+08
110                      ORGANIZATION_TYPE_Electricity -8.405765e+08
129                     ORGANIZATION_TYPE_Kindergarten -8.405765e+08
146                    ORGANIZATION_TYPE_Trade: type 1 -8.405765e+08
109                          ORGANIZATION_TYPE_Culture -8.405765e+08
112                       ORGANIZATION_TYPE_Government -8.405765e+08
157                       ORGANIZATION_TYPE_University -8.405765e+08
131                         ORGANIZATION_TYPE_Medicine -8.405765e+08
128                        ORGANIZATION_TYPE_Insurance -8.405765e+08
125                 ORGANIZATION_TYPE_Industry: type 7 -8.405765e+08
134                            ORGANIZATION_TYPE_Other -8.405765e+08
104           ORGANIZATION_TYPE_Business Entity Type 1 -8.405765e+08
141                         ORGANIZATION_TYPE_Security -8.405765e+08
114                          ORGANIZATION_TYPE_Housing -8.405765e+08
117                ORGANIZATION_TYPE_Industry: type 11 -8.405765e+08
102                      ORGANIZATION_TYPE_Agriculture -8.405765e+08
105           ORGANIZATION_TYPE_Business Entity Type 2 -8.405765e+08
133                           ORGANIZATION_TYPE_Mobile -8.405765e+08
145                          ORGANIZATION_TYPE_Telecom -8.405765e+08
136                           ORGANIZATION_TYPE_Postal -8.405765e+08
122                 ORGANIZATION_TYPE_Industry: type 4 -8.405765e+08
156                ORGANIZATION_TYPE_Transport: type 4 -8.405765e+08
152                    ORGANIZATION_TYPE_Trade: type 7 -8.405765e+08
106           ORGANIZATION_TYPE_Business Entity Type 3 -8.405765e+08
101                      ORGANIZATION_TYPE_Advertising -8.405765e+08
143                    ORGANIZATION_TYPE_Self-employed -8.405765e+08
119                ORGANIZATION_TYPE_Industry: type 13 -8.405765e+08
121                 ORGANIZATION_TYPE_Industry: type 3 -8.405765e+08
115                 ORGANIZATION_TYPE_Industry: type 1 -8.405765e+08
139                       ORGANIZATION_TYPE_Restaurant -8.405765e+08
148                    ORGANIZATION_TYPE_Trade: type 3 -8.405765e+08
107                         ORGANIZATION_TYPE_Cleaning -8.405765e+08
108                     ORGANIZATION_TYPE_Construction -8.405765e+08
130                   ORGANIZATION_TYPE_Legal Services -8.405765e+08
126                 ORGANIZATION_TYPE_Industry: type 8 -8.405765e+08
137                          ORGANIZATION_TYPE_Realtor -8.405765e+08
155                ORGANIZATION_TYPE_Transport: type 3 -8.405765e+08
8                                        DAYS_EMPLOYED  6.005848e-01
5                                      AMT_GOODS_PRICE -7.618052e-02
3                                           AMT_CREDIT  6.971385e-02
27                                        EXT_SOURCE_2 -3.563242e-02
12                                      FLAG_EMP_PHONE -1.407563e-02
34                                     FLAG_DOCUMENT_3  1.176357e-02
30                            OBS_60_CNT_SOCIAL_CIRCLE -1.166055e-02
28                            OBS_30_CNT_SOCIAL_CIRCLE  1.106689e-02
19                         REGION_RATING_CLIENT_W_CITY  1.046966e-02
4                                          AMT_ANNUITY  8.637632e-03
7                                           DAYS_BIRTH  8.428209e-03
10                                     DAYS_ID_PUBLISH  7.056482e-03
13                                     FLAG_WORK_PHONE  6.621699e-03
37                                     FLAG_DOCUMENT_6  5.928993e-03
29                            DEF_30_CNT_SOCIAL_CIRCLE  5.628352e-03
24                              REG_CITY_NOT_LIVE_CITY  5.442553e-03
32                              DAYS_LAST_PHONE_CHANGE  4.987377e-03
18                                REGION_RATING_CLIENT -4.701112e-03
47                                    FLAG_DOCUMENT_16 -3.313303e-03
9                                    DAYS_REGISTRATION  3.272436e-03
6                           REGION_POPULATION_RELATIVE  3.033601e-03
49                                    FLAG_DOCUMENT_18 -2.889097e-03
36                                     FLAG_DOCUMENT_5  2.808392e-03
39                                     FLAG_DOCUMENT_8  2.613544e-03
45                                    FLAG_DOCUMENT_14 -2.024248e-03
2                                     AMT_INCOME_TOTAL  2.000087e-03
31                            DEF_60_CNT_SOCIAL_CIRCLE  1.949643e-03
33                                     FLAG_DOCUMENT_2  1.933217e-03
15                                          FLAG_PHONE -1.913729e-03
44                                    FLAG_DOCUMENT_13 -1.910806e-03
21                          REG_REGION_NOT_LIVE_REGION -1.697683e-03
23                         LIVE_REGION_NOT_WORK_REGION -1.536384e-03
46                                    FLAG_DOCUMENT_15 -1.438379e-03
42                                    FLAG_DOCUMENT_11 -1.246810e-03
22                          REG_REGION_NOT_WORK_REGION  1.190874e-03
14                                    FLAG_CONT_MOBILE -9.767287e-04
48                                    FLAG_DOCUMENT_17 -9.245872e-04
51                                    FLAG_DOCUMENT_20  8.172989e-04
16                                          FLAG_EMAIL -7.085419e-04
40                                     FLAG_DOCUMENT_9  6.401539e-04
25                              REG_CITY_NOT_WORK_CITY  5.956010e-04
20                             HOUR_APPR_PROCESS_START  5.581336e-04
50                                    FLAG_DOCUMENT_19 -5.108714e-04
0                                           SK_ID_CURR -4.258823e-04
35                                     FLAG_DOCUMENT_4 -4.158020e-04
26                             LIVE_CITY_NOT_WORK_CITY  2.934788e-04
52                                    FLAG_DOCUMENT_21  2.535582e-04
41                                    FLAG_DOCUMENT_10 -1.757741e-04
43                                    FLAG_DOCUMENT_12  1.568794e-04
11                                          FLAG_MOBIL  8.886443e-05
38                                     FLAG_DOCUMENT_7  4.434586e-05

     Abs_Coefficient
99      4.266204e+11
94      4.266204e+11
100     4.266204e+11
98      4.266204e+11
96      4.266204e+11
95      4.266204e+11
97      4.266204e+11
56      9.323239e+10
55      9.323239e+10
57      9.323239e+10
82      9.318658e+10
83      9.318658e+10
86      9.318658e+10
84      8.053123e+10
85      8.053123e+10
87      8.053123e+10
58      6.377766e+10
59      6.377766e+10
61      6.176364e+10
60      6.176364e+10
77      5.758702e+10
78      5.758702e+10
79      5.758702e+10
81      5.758702e+10
80      5.758702e+10
71      2.611331e+10
75      2.611331e+10
76      2.611331e+10
73      2.611331e+10
70      2.611331e+10
69      2.611331e+10
72      2.611331e+10
74      2.611331e+10
17      1.152495e+10
1       9.138689e+09
65      8.295344e+09
67      8.295344e+09
63      8.295344e+09
64      8.295344e+09
62      8.295344e+09
68      8.295344e+09
66      8.295344e+09
90      5.217082e+09
92      5.217082e+09
93      5.217082e+09
89      5.217082e+09
88      5.217082e+09
91      5.217082e+09
54      1.302968e+09
53      1.302968e+09
158     8.405765e+08
149     8.405765e+08
118     8.405765e+08
153     8.405765e+08
132     8.405765e+08
151     8.405765e+08
147     8.405765e+08
142     8.405765e+08
135     8.405765e+08
123     8.405765e+08
127     8.405765e+08
116     8.405765e+08
103     8.405765e+08
113     8.405765e+08
111     8.405765e+08
120     8.405765e+08
138     8.405765e+08
150     8.405765e+08
124     8.405765e+08
144     8.405765e+08
140     8.405765e+08
154     8.405765e+08
110     8.405765e+08
129     8.405765e+08
146     8.405765e+08
109     8.405765e+08
112     8.405765e+08
157     8.405765e+08
131     8.405765e+08
128     8.405765e+08
125     8.405765e+08
134     8.405765e+08
104     8.405765e+08
141     8.405765e+08
114     8.405765e+08
117     8.405765e+08
102     8.405765e+08
105     8.405765e+08
133     8.405765e+08
145     8.405765e+08
136     8.405765e+08
122     8.405765e+08
156     8.405765e+08
152     8.405765e+08
106     8.405765e+08
101     8.405765e+08
143     8.405765e+08
119     8.405765e+08
121     8.405765e+08
115     8.405765e+08
139     8.405765e+08
148     8.405765e+08
107     8.405765e+08
108     8.405765e+08
130     8.405765e+08
126     8.405765e+08
137     8.405765e+08
155     8.405765e+08
8       6.005848e-01
5       7.618052e-02
3       6.971385e-02
27      3.563242e-02
12      1.407563e-02
34      1.176357e-02
30      1.166055e-02
28      1.106689e-02
19      1.046966e-02
4       8.637632e-03
7       8.428209e-03
10      7.056482e-03
13      6.621699e-03
37      5.928993e-03
29      5.628352e-03
24      5.442553e-03
32      4.987377e-03
18      4.701112e-03
47      3.313303e-03
9       3.272436e-03
6       3.033601e-03
49      2.889097e-03
36      2.808392e-03
39      2.613544e-03
45      2.024248e-03
2       2.000087e-03
31      1.949643e-03
33      1.933217e-03
15      1.913729e-03
44      1.910806e-03
21      1.697683e-03
23      1.536384e-03
46      1.438379e-03
42      1.246810e-03
22      1.190874e-03
14      9.767287e-04
48      9.245872e-04
51      8.172989e-04
16      7.085419e-04
40      6.401539e-04
25      5.956010e-04
20      5.581336e-04
50      5.108714e-04
0       4.258823e-04
35      4.158020e-04
26      2.934788e-04
52      2.535582e-04
41      1.757741e-04
43      1.568794e-04
11      8.886443e-05
38      4.434586e-05

Comment: 
- Lots of highly predicitve features
- What features are related? 
- Is ovefitting an issue? Too many variables issue.

In [22]:
# Looking at VIF values to see which features are highly correlated: 
# Calculate Variance Inflation Factor (VIF) to check for multicollinearity
print("\nCalculating Variance Inflation Factor (VIF) for each feature:")
vif_data = pd.DataFrame()
vif_data['Feature'] = X_train_selected_preprocessed_df.columns
vif_data['VIF'] = [variance_inflation_factor(X_train_selected_preprocessed_df.values, i) for i in range(X_train_selected_preprocessed_df.shape[1])]

# Display VIF values
print(vif_data.sort_values(by='VIF', ascending=False))

Calculating Variance Inflation Factor (VIF) for each feature:
     Feature           VIF
54        54           inf
17        17           inf
53        53           inf
69        69  2.328886e+11
86        86  2.245456e+11
126      126  1.130351e+11
133      133  1.004550e+11
71        71  8.575835e+10
149      149  8.434181e+10
111      111  7.815018e+10
116      116  6.338545e+10
107      107  6.197756e+10
75        75  5.993970e+10
146      146  5.595090e+10
153      153  4.970559e+10
122      122  4.857204e+10
150      150  4.437022e+10
103      103  4.243615e+10
113      113  3.146400e+10
148      148  3.021790e+10
57        57  2.978886e+10
74        74  2.869924e+10
127      127  2.454077e+10
119      119  2.040085e+10
144      144  1.884324e+10
88        88  1.719279e+10
130      130  1.638146e+10
135      135  1.555505e+10
123      123  1.110307e+10
128      128  1.064043e+10
87        87  1.051743e+10
97        97  1.050727e+10
118      118  1.006456e+10
139      139  9.294166e+09
102      102  8.913068e+09
101      101  8.608867e+09
132      132  8.410264e+09
64        64  8.210786e+09
124      124  7.680599e+09
142      142  7.382266e+09
77        77  7.344674e+09
80        80  6.272895e+09
141      141  6.201012e+09
125      125  5.484079e+09
79        79  5.420936e+09
109      109  4.662809e+09
151      151  4.597450e+09
120      120  4.339558e+09
105      105  4.062172e+09
65        65  3.679678e+09
121      121  3.491605e+09
66        66  3.440117e+09
115      115  3.330504e+09
82        82  3.152513e+09
129      129  2.855230e+09
145      145  2.789948e+09
152      152  2.574482e+09
137      137  1.876922e+09
147      147  1.789268e+09
93        93  1.742785e+09
154      154  1.665366e+09
73        73  1.566339e+09
110      110  1.355895e+09
92        92  1.215915e+09
96        96  1.121160e+09
112      112  7.369163e+08
104      104  7.016922e+08
1          1  4.433599e+08
156      156  3.908867e+08
158      158  3.443772e+08
91        91  3.231932e+08
155      155  2.940177e+08
63        63  2.925579e+08
67        67  2.838804e+08
140      140  2.746801e+08
62        62  2.190172e+08
59        59  1.659507e+08
134      134  1.427242e+08
108      108  1.157062e+08
99        99  1.002578e+08
85        85  9.730944e+07
143      143  9.726657e+07
72        72  8.332030e+07
117      117  7.788699e+07
84        84  7.244611e+07
136      136  6.335607e+07
98        98  6.016556e+07
94        94  5.504402e+07
90        90  4.244721e+07
114      114  3.931212e+07
60        60  3.230938e+07
56        56  3.062809e+07
70        70  3.047872e+07
157      157  2.791156e+07
138      138  2.552818e+07
55        55  2.133533e+07
131      131  1.839095e+07
89        89  6.958591e+06
81        81  6.755224e+06
100      100  5.807174e+06
106      106  5.107664e+06
76        76  3.922765e+06
58        58  3.772873e+06
78        78  3.244921e+06
68        68  2.952210e+06
61        61  2.271056e+06
95        95  1.906375e+06
83        83  5.597435e+05
8          8  5.672442e+03
12        12  3.821132e+03
30        30  3.328532e+02
28        28  3.323344e+02
5          5  4.322624e+01
3          3  4.222309e+01
34        34  1.315624e+01
18        18  1.085187e+01
19        19  1.069675e+01
22        22  9.075146e+00
25        25  7.533268e+00
23        23  7.359008e+00
37        37  6.552191e+00
26        26  6.057543e+00
39        39  5.635158e+00
29        29  4.067833e+00
31        31  3.873333e+00
4          4  2.789919e+00
7          7  2.481404e+00
24        24  2.450252e+00
21        21  2.436151e+00
36        36  1.670482e+00
6          6  1.453793e+00
13        13  1.259566e+00
40        40  1.217665e+00
27        27  1.200270e+00
9          9  1.167729e+00
42        42  1.161823e+00
15        15  1.151995e+00
10        10  1.147336e+00
20        20  1.144243e+00
32        32  1.096806e+00
14        14  1.068086e+00
2          2  1.061808e+00
47        47  1.037297e+00
49        49  1.036812e+00
16        16  1.028778e+00
44        44  1.028209e+00
38        38  1.024143e+00
51        51  1.020973e+00
45        45  1.020440e+00
46        46  1.007559e+00
52        52  1.005525e+00
48        48  1.004229e+00
50        50  1.003806e+00
35        35  1.003488e+00
33        33  1.003437e+00
11        11  1.000887e+00
41        41  1.000582e+00
0          0  1.000433e+00
43        43  1.000361e+00

# Kaggle Submission Code:

In [15]:
# Generate predictions for the test set using the trained linear regression model
X_test_selected_preprocessed = selected_preprocessor.transform(application_test_df)
y_test_pred = linear_regressor.predict(X_test_selected_preprocessed)

# Convert predictions to binary values (0 or 1) using a threshold of 0.5
y_test_pred_binary = [1 if pred >= 0.5 else 0 for pred in y_test_pred]

# Load the sample submission format
submission_path = "C:/Users/johne/Downloads/sample_submission.csv"
try:
    sample_submission = pd.read_csv(submission_path, encoding='utf-8')
except UnicodeDecodeError:
    sample_submission = pd.read_csv(submission_path, encoding='latin1')

# Prepare the submission DataFrame
submission = sample_submission.copy()
submission['TARGET'] = y_test_pred_binary

# Save the submission file
submission_path_output = "C:/Users/johne/Downloads/sample_submission.csv"
submission.to_csv(submission_path_output, index=False)

# Display the first few rows of the submission file for verification
print("\nDisplaying the first few rows of the submission file:")
display(submission.head())

# Note: The preprocessed data can now be used for fitting various models, which will be explored next.

Displaying the first few rows of the submission file:

   SK_ID_CURR  TARGET
0      100001       0
1      100005       0
2      100013       0
3      100028       0
4      100038       0